@use '../../../colors';

.card {
  display: flex;
  flex-flow: column;
  gap: 8px;
  background: linear-gradient(0deg, colors.$dark-2 70%, colors.$dark-1);;
  border-radius: 16px;
  position: relative;
  padding: 10px;
  transition: 500ms;
  border: 2px solid colors.$border;

  &:hover {
    background: linear-gradient(0deg, colors.$dark-2, hsl(134 69.9% 12%));
    border-color: colors.$vibrant;

    .edit {
      opacity: 1;
    }
  }

  .title {
    width: 100%;

    h3 {
      margin: 0;
    }
  }

  .people {
    display: flex;
    flex-flow: row wrap;
    gap: 4px;

    .person-preview {
      background: colors.$dark-1;
      border-radius: 1000px;
      padding: 4px 8px;
      margin: 0;
    }
  }

  .edit {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


@media (prefers-color-scheme: light) {
  .card {
    background: linear-gradient(0deg, colors.$light-2 70%, colors.$light-1);
    box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.07), 0 4px 4px hsla(0, 0%, 0%, 0.15);
    border: 2px solid colors.$light-font-2;

    &:hover {
      background: linear-gradient(0deg, colors.$light-2, hsl(134 69.9% 87.7%));
    }

    .people .person-preview {
      background: colors.$light-1;
    }
  }
}