.card {
    display: flex;
    gap: 4px;
    background: #323232;
    border-radius: 4px;
    height: 50px;
    position: relative;
    padding: 8px;
    transition: 500ms;

    &.hover {
        background: #F2F2F2;
        background: linear-gradient(90deg, rgba(242, 242, 242, 0) 0%, rgba(33, 186, 69, 0.63) 31%, rgba(33, 186, 69, 0.64) 80%, rgba(242, 242, 242, 0) 100%);
    }

    .content {
        width: 100%;

        &:hover {
            cursor: pointer;
        }
    }

    .edit {
        background: #262626;
    }
}


@media (prefers-color-scheme: light) {
    .card {
        color: #213547;
        background-color: #ffffff;

        .edit {
            position: absolute;
            top: 0;
            right: 0;
            background: beige;
        }
    }
}