#root {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 14px;
}

header, main, footer {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}