#root {
    max-width: 1280px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

h1 {
    font-size: 14px;
}

header, main, footer {
    width: 100%;
}

header, footer {
    display: flex;
    justify-content: center;
}

main {
    height: 242px;
    overflow-y: auto;

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 8px;
    }
}