// Dark Mode
$dark-highlight: hsl(120 2.7% 60%);
$dark-1: #263140;
$dark-2: #1d2530;
$dark-3: hsl(215.29deg 27.87% 11.96%);

$dark-font-1: hsl(120 2.7% 95%);
$dark-font-2: hsl(120 2.7% 70%);

// Light Mode
$light-1: hsl(120 2.7% 100%);
$light-2: hsl(120 2.7% 95%);
$light-3: hsl(120 2.7% 90%);

$light-font-1: hsl(120 2.7% 5%);
$light-font-2: hsl(120 2.7% 30%);


$border: hsl(120 2.7% 20%);


$danger: #cb6465;
$warning: #cbcb64;
$success: #65cc64;
$info: #8c8cd9;

$vibrant: rgb(33, 186, 69);
$vibrant-darker: hsl(134 69.9% 33.6%);