@use 'colors';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: colors.$dark-font-1;
  background-color: colors.$dark-3;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 300ms;
  color: white;
  outline: none;
  background: colors.$vibrant;
  height: fit-content;
  line-height: 14px;
  align-items: center;
  display: flex;
  border: none;
  font-size: 12px;
  gap: 8px;
  justify-content: center;

  &.secondary {
    background: transparent;

    &:hover {
      background-color: colors.$vibrant;
    }
  }

  &:hover {
    background-color: colors.$vibrant-darker;
  }
}

button.delete {
  background-color: colors.$danger;
  border: 0;
  color: colors.$dark-font-1;
}

input {
  background: transparent;
  outline: none;
  border: colors.$border 2px solid;
  border-radius: 8px;
  transition: 200ms;
  padding: 8px 16px;

  &:active, &:focus {
    border-color: colors.$vibrant;
    background: linear-gradient(0deg, transparent, hsl(134 69.9% 13.3%));
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: colors.$light-font-1;
    background-color: colors.$light-3;
  }

  button.secondary {
    color: colors.$light-font-1;

    &:hover {
      background-color: colors.$vibrant;
      color: colors.$dark-font-1;
    }
  }

  input {
    border: colors.$dark-highlight 2px solid;

    &:active, &:focus {
      border-color: colors.$vibrant;
      background: linear-gradient(0deg, transparent, hsl(134 69.9% 87.7%));
    }
  }
}
