@use 'colors';

:root {
  --shade-1: #{colors.$dark-1};
  --shade-2: #{colors.$dark-2};
  --shade-3: #{colors.$dark-3};
  --vibran-shade: #{colors.$vibrant-darkest};
  --font-main: #{colors.$dark-font-1};
  --font-secondary: #{colors.$dark-font-2};

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 365px;
}

/* 🌞 Light forcé */
:root[data-theme='light'] {
  --shade-1: #{colors.$light-1};
  --shade-2: #{colors.$light-2};
  --shade-3: #{colors.$light-3};
  --vibran-shade: #{colors.$vibrant-lightest};
  --font-main: #{colors.$light-font-1};
  --font-secondary: #{colors.$light-font-2};
}

/* 🌚 Dark forcé */
:root[data-theme='dark'] {
  --shade-1: #{colors.$dark-1};
  --shade-2: #{colors.$dark-2};
  --shade-3: #{colors.$dark-3};
  --vibran-shade: #{colors.$vibrant-darkest};
  --font-main: #{colors.$dark-font-1};
  --font-secondary: #{colors.$dark-font-2};
}

/* 🌓 Auto = media query */
@media (prefers-color-scheme: light) {
  :root[data-theme='auto'] {
    --shade-1: #{colors.$light-1};
    --shade-2: #{colors.$light-2};
    --shade-3: #{colors.$light-3};
    --vibran-shade: #{colors.$vibrant-lightest};
    --font-main: #{colors.$light-font-1};
    --font-secondary: #{colors.$light-font-2};
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: var(--shade-1);
}

button {
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 300ms;
  color: white;
  outline: none;
  background: linear-gradient(colors.$vibrant, colors.$vibrant-darker);
  height: fit-content;
  line-height: 14px;
  align-items: center;
  display: flex;
  border: none;
  font-size: 12px;
  gap: 8px;
  justify-content: center;

  &.secondary {
    background: transparent;
    color: var(--font-main);

    &:hover {
      color: white;
    }
  }

  &:hover {
    background: linear-gradient(colors.$vibrant-darker, colors.$vibrant-darker);
  }
}

button.delete {
  background: colors.$danger;
  border: 0;
  color: colors.$dark-font-1;

  &:hover {
    background: colors.$danger;
  }
}

input {
  background: transparent;
  outline: none;
  border: colors.$border 2px solid;
  border-radius: 8px;
  transition: 200ms;
  padding: 8px 16px;
  color: var(--font-main);

  &:active, &:focus {
    border-color: colors.$vibrant;
    background: linear-gradient(0deg, transparent, var(--vibran-shade));
  }
}
